{% extends 'base.html' % }


{% block content %}
    <h1>{{ movie.title }} </h1>

    <ul>
        <li>{{ movie.overview }}</li>
        <li> {{ movie.released }}</li>
        <li> {{ movie.popularity }} </li>
        <li> {{ movie.image }} </li>
        <li> {{ movie.genre}} </li>

    </ul>


    {% for cast in casts %}
        <h2> {{ cast.name }} </h2>
        <ul>    
            <li>{{ cast.bio }}</li>
            <li>{{ cast.image }}</li>
            <li>{{ cast.birthday }} </li>
            

        </ul>

    {% endfor %}



{% endblock %}