{% extends 'base.html' %}

{% block content %}
    <div class="main">


        {% if search %} 
            <h2>You search for {{search}}</h2>
            </br>
            {% if movies %}
                {% for movie in movies %}
                    <p>

                        <a href="{% url 'main:recommend' movie.id %}" > {{ movie.title }} </a>

                    </p>
                    
                {% endfor %}
            {% else %} 
                <h2> No result </h2>

            {% endif %}
        {% else %}
            <h2>You forgot search </h2>

        {% endif %}


    </div>

    



{% endblock %}